<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="agendaprogran.Properties.Settings.conexion" connectionString="Data Source=olimposrv;Initial Catalog=agenda;User ID=marcas;Password=marcas" />
        <add name="agendaprogran.Properties.Settings.agendaConnectionString"
            connectionString="Data Source=olimposrv;Initial Catalog=agenda;User ID=marcas;Password=marcas"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>